
.navbar{
    margin: 0px 120px;
 
    
    
}

/* navbar */

li{
  display: inline;  
  text-decoration: none;
  color: white;
}
li a{ 
   text-decoration: none; 
   font-size: 8px;
    display: inline-block;
   color:#fff;
    
    
}

.blg {
   margin-left:10px;
    
}


.nod {
   width: 20px; 
   height: 20px;
    
    
}

.nbt{
  font-size: 8px;  
  margin-left:50px;
  color: #fff;
  background-color: blue;
  border: 1.5px solid blue;
  border: 3px;
}
.arti{
   color: blue;
    
    
    
}
/* homepage */

.nex{
 font-size: 10px;  
 color: blue; 
 margin-top: 10px;
 
    
}
.syb{
    color: #fff;
    font-size: 20px;
    
    
}
.lor1{
   color: white; 
   font-size: 10px;
    
    
}
.btnG{
    color: white;
    background-color: blue;
    border: 1px solid blue;
    font-size: 5px;
    
}
.btnW{
   color: white; 
   background-color:blue ;
   border: 1px solid blue;
    font-size:5px;
    
}

.Wat{
  width: 5px;  
    
    
}

/* средний част сайта*/
 .App {
  color: white;  
  font-size:20px;
  padding-top:10px;
    
    
}
 .p1p{
  color: white;
  font-size: 10px;
    
}
 .btn1n{
   color: white;  
   background-color:blue;
   font-size:8px;
   border: 1px solid blue;
   border-radius:3px;
     
 }
 
 .card-title{
   font-size: 5px; 
     
     
     
 }
 .card-text {
     font-size:2px ;
     
     
 }
 .goni{
    width: 25px; 
   
     
     
     
 }
  
  .klp{
    
      
      
  }
   
 
 #dogu{
     background-color: black;
     
     
 }
 .imw{
    padding-left: 10px; 
     
     
 }
 /* последний част*/
 
.ulop{
   font-size: 20px; 
    
    
}
.harf{
    font-size: 10px;
    
    
}
/* footer*/
.Erma{
  height: 20px;
    
}
.arti{
   margin-top: 10px;
    
    
}
.zxc{
  color: white;
    
    
    
}
.fota{
   color: white; 
    font-size: 5px;
    
}
.tor{
   color: white; 
    
    
}